<%- include('includes/header') %>
<nav>
    <a href="/">HOME</a>
    <a href="/teams">Teams Leaderboard</a>
    <a href="/staircases">Staircases</a>
    <a href="/leaderboard">Leaderboard</a>
</nav>

<label for="dayList">Select Day:</label>

<select name="dayList" id="days">
</select>



<%- include('includes/footer') %>