@media only screen and (max-width: 600px){
    body{
        box-sizing: border-box;
    }
    
    .incrementButton{
        width: 3rem;
        margin-left: 5%;
    }

    .staircase__controls{
      flex: 1;
      justify-content: center;
      align-items: center;
      flex-basis: 50%;
    }

    .decrementButton{
        width: 3rem;
    }

    .teamMember{
        width: 95%;
        margin: auto;
    }
    
}


@media only screen and (min-width: 600px){
    li{
        list-style: none;
    }

    .teamMember{
        width: 70%;
        margin: auto;
    }

    .staircase__controls{
      flex: 1;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      flex-basis: 50%;
      padding: 1% 5%;
    }

    .incrementButton{
        width: 5rem;
        flex: 1;
        margin-left: 2rem;
    }

    .decrementButton{
        width: 5rem;
        flex: 1;
    }
}

body{
    box-sizing: border-box;
    background-color: rgb(82, 82, 82);
    color: #dad9d6 ;
    margin-bottom: 5rem;
}

.week{
  padding: 0px;
  margin: 0px 0px 1rem 0px;
  border: 1px solid aliceblue;
}

.weeklyTotals{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}
.weeklyTotals ul{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 5px;
}
.weekButton{
  flex:1;
  flex-grow: 1;
  justify-content: center;
  display: flex;
}

.userName{
    text-align: center;
}
.userName::first-letter {
    text-transform: capitalize;
}

.totalStepsDisplay{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.totalDaysDisplay{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

li{
    list-style: none;
}

.decrementButton{
    background-color: lightcoral;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgb(255, 0, 0);
    height: 2rem;
}

.decrementButton:hover, .incrementButton:hover{
    transform: scale(1.15);
}

.incrementButton{
    background-color: lightgreen;
    box-shadow: 0 0 2px 1px rgb(0, 255, 0);
    border-radius: 3px;
    border: none;
    height: 2rem;
}    

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
    border: 2px solid lightblue;
    border-radius: 1rem;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .staircase{
    display: flex;
    background-color: lightblue;
    border-radius: 1rem;
    color: black;
    margin: 5px 0px;
    padding: 0.5rem 0px;
    justify-content: center;
    align-items: center;
  }

  .staircase__data{
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: Left;
    flex-basis: 50%;
  }

  .addStaircaseForm{
    display: flex;
    flex-direction: column;    
  }

  .addStaircaseForm label{
    flex-basis: 25%;
  }
  
  .addStaircaseForm input{
    flex-basis: 75%;
  }
  
  .addStaircaseForm button{
    flex-basis: 65%;
    background-color: whitesmoke;
  }

  .addStaircaseForm button:hover{
    flex-basis: 65%;
    background-color: whitesmoke;
    transform: scale(1.02);
  }

  .registerForm{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 30%;
    margin: auto;
    padding-left: 3rem;
    flex-direction: column;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  label{
    flex: 1;
    margin: 1rem 0px 0.2rem 0px;
  }

  input{
    flex:2;
  }

  .loginForm{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 30%;
    margin: 3rem auto;
    flex-direction: column;
  }

  .addStaircaseForm button{
    color: black;
    background-color: lightskyblue;
  }

  .teamMember__day{
    padding: 0px;
    margin: 3px 0px;
  }