@media only screen and (max-width: 600px){
    body{
        box-sizing: border-box;
    }
    
    .incrementButton{
        width: 3rem;
        margin-left: 5%;
    }

    .decrementButton{
        width: 3rem;
    }
    
}


@media only screen and (min-width: 600px){
    li{
        list-style: none;
    }

    .incrementButton{
        width: 5rem;
        margin-left: 5%;
    }

    .decrementButton{
        width: 5rem;
    }
}

body{
    box-sizing: border-box;
    background-color: rgb(82, 82, 82);
    color: #dad9d6 ;
}

.userName{
    text-align: center;
}
.userName::first-letter {
    text-transform: capitalize;
}

.totalStepsDisplay{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.totalDaysDisplay{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

li{
    list-style: none;
}

.decrementButton{
    background-color: lightcoral;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgb(255, 0, 0);
    height: 2rem;
}

.decrementButton:hover, .incrementButton:hover{
    transform: scale(1.15);
}

.incrementButton{
    background-color: lightgreen;
    box-shadow: 0 0 2px 1px rgb(0, 255, 0);
    border-radius: 3px;
    border: none;
    height: 2rem;
}    

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .staircase{
    display: flex;
    background-color: lightblue;
    border-radius: 1rem;
    color: black;
    margin: 5px 0px;
    padding: 0.5rem 0px;
    justify-content: center;
    align-items: center;
  }

  .staircase__data{
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: Left;
    flex-basis: 50%;
  }

  .staircase__controls{
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }